//Created by Georgevik on 23/04/15.
extends layout
block header
	li
		a(href="registro") Registro
	li.active
		a(href="#") Usuarios

block content
	div.container(ng-controller="consultaUsuario")
		h2 Consultar usuarios
		ul
			each usuario, i in usuarios
				li #{usuario.usuario}




block scripts
	script(src="/js/consulta_usuarios.js")

